a {
    margin-right: 0.6rem;
    margin-left: 1.0rem;
}



.navbar {
    margin-top: 0.5rem;
}

.navbar-brand {
    margin-left: .4em !important;
}

svg {
    fill: #0275d8 !important;
}

.search {
    margin-top: 0.5rem;
    margin-right: 1rem;
}