{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-6 col-xs-12">
        <a href="/newCategory" class="btn btn-outline-primary">Add Category</a>
        <a href="/newItem" class="btn btn-outline-primary">Add Item</a>
    </div>
    <div class="col-lg-6 col-xs-12 ">
        <div class="search form-group form-inline search input-group">
            <input type="text" class="form-control" placeholder="Search items ...">
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">by @lg0lia</button>
            </span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-xs-12">
        <div class="card">
            <div class="card-header"> Categories </div>
            <div class="card-block">
                <ul class="list-group">
                    {% for category in categories %}
                        <li class="list-group-item"><a href="/category/{{ category.name }}">{{ category.name }}</a> </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xs-12 ">
        <div class="card">
            <div class="card-header"> Last Added </div>
            <div class="card-block">
                <ul class="list-group">
                    {% for e in last_added %}
                        <li class="list-group-item"><a href="/category/{{ e.cat_name }}/item/{{ e.id }}">{{ e.title }}</a> ({{e.cat_name}})</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock  %}